@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/* body {
  font-family: "Poppins", sans-serif;
} */
body {
  font-family: "Cairo", sans-serif;
}

/* عربي */
.font-ar {
  font-family: "Cairo", "Tajawal", sans-serif;
}

/* عربي ناعم */
.font-ar-soft {
  font-family: "Tajawal", sans-serif;
}

/* English Title */
.font-en {
  font-family: "Dancing Script", cursive;
}